<ion-view class="edit-profile-view">
  <ion-content>
    <section class="edit-profile-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" 
                     class="validate"
                     ng-model="user.name"
                     placeholder=""
                     id="firt_name"
                     required="required">
                     <label for="firt_name" class="active">nombre</label>
            </div>
            <div class="input-field col s6">
              <input type="text"
                     class="validate"
                     ng-model="user.lastName"
                     placeholder=""
                     id="last_name"
                     required="required">
                     <label for="last_name" class="active">apellido</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="email" 
                     class="validate" 
                     ng-model="user.email"
                     placeholder=""
                     id="email"
                     required="required">
                     <label for="email" class="active">email</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-field col s12">
              <input type="password"
                     class="validate"
                     ng-model="user.password"
                     placeholder=""
                     id="password"
                     required="required">
                     <label for="password" class="active">password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="password"
                     class="validate"
                     ng-model="user.passwordConfirmation"
                     placeholder=""
                     id="confirmation_password"
                     required="required">
                     <label for="confirmation_password" class="active">confirmar password</label>
            </div>
          </div>
          <br><br>
          <button class="btn waves-effect waves-light btn-signup" 
                  type="submit"
                  name="action"
                  ng-click="saveChanges()">
                  guardar perfil
                  <i class="icon ion-log-in"></i>
          </button>
        </form>
      </div>
    </section>
  </ion-content>
</ion-view>