<ion-view class="map-view-jitney">
	<ion-content>
		<section class="map-content">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" data-tap-disabled="true">
			<!-- <ui-gmap-circle center="map.center"></ui-gmap-circle>    -->
				<ui-gmap-marker
								icon="jitney.icon"
								idKey="jitney.id"
				        coords="jitney.coords"
				        control="markersControl">
				</ui-gmap-marker>
			 	<ui-gmap-markers models="passengers" 
			 									 coords="'self'" 
			 									 icon="'icon'"
			 									 idKey="'id'">
        </ui-gmap-markers>
			</ui-gmap-google-map>
			<div class="row ui-buttons">
				<div class="col s12">
					<button class="btn waves-effect waves-light btn-large"
									id="btn-add-passenger" 
									type="submit" 
									name="action" 
									ng-click="addPassenger()"
									ng-class="{ success: car.passengers > 0 && car.passengers < 1, warm: car.passengers == 2, danger: car.passengers == 3 }">
						<i class="icon ion-plus-round"></i>
					</button>
					<button class="btn waves-effect waves-light btn-large" 
									type="submit" 
									name="action"
									id="btn-remove-passenger"
									ng-click="removePassenger()"
									ng-class="{ success: car.passengers >= 0 && car.passenger <= 1, warm: car.passengers == 2, danger: car.passengers == 3 }">
									<i class="icon ion-minus-round"></i>
					</button>
					<a class="btn-floating btn-large waves-effect waves-light light-blue darken-4" 
						 ng-click="goToConfigurations()">
						 <i class="icon ion-gear-b"></i>
					</a>
				</div>
			</div>
			<div class="row search-passenger">
				<div class="col s12">
					<button class="btn waves-effect waves-light btn-large btn-search-passenger" 
									type="submit" 
									name="action"
									ng-click="searchPassengers()">
									activar busqueda
									<i class="icon ion-navigate"></i>
					</button>
				</div>
			</div>
		</section>
	</ion-content>
</ion-view>